<header class="header">
  <div class="header-container container">
    <nav class="navigation">
      <a class="logo" href="./index.html">
        <svg class="icon-logo" width="16" height="16">
          <use href="./img/icons.svg#icon-mobile-logo"></use>
        </svg>
        <svg class="logo-text" width="148" height="12">
          <use href="./img/icons.svg#icon-mobile-logo-text"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="menu-item">
          <a class="menu-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button" href="#you-order">Shop now</button>

    <button type="button" class="open-menu-btn js-open-menu">
      <svg class="btn-icon-open" width="32" height="32">
        <use href="./img/icons.svg#icon-mobile-header-btn-open"></use>
      </svg>
    </button>

    <script defer src="./mobile-menu.js"></script>
  </div>
</header>
