<section class="hero">
    <div class="hero-container container">
        <div hero-container-text>
        <h1 class="hero-title">organic vegetables to your diet today!</h1> 
        <p class="hero-paragraph">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
        </div> 
        <div class="hero-img">
            <picture>
                <source srcset="../img/photo-hero/hero-desktop.1x.jpg, ../img/photo-hero/hero-desktop.2x.jpg" media="(min-width: 1158px)" />
                <source srcset="../img/photo-hero/hero-tablet.1x.jpg, ../img/photo-hero/hero-tablet.2x.jpg" media="(min-width: 768px)" />
                <source srcset="../img/photo-hero/hero-mobile.1x.jpg, ../img/photo-hero/hero-mobile.2x.jpg" media="(min-width: 320px)" />
                <img src="../img/photo-hero/hero-desktop.1x.jpg" alt="Background photo" />
            </picture>
        </div>
    </div>
</section>