<section id="how-it-works" class="how-it-works-section">
<div class="container works-container">
    <div class="backgraund">
    
        <div class="section-works">
            <h2 class="visually-hidden">How it works</h2>
        <div class="picture">
            <picture>
            <source srcset="
                    ./img/how-it-works/girl-2x-desk.jpg 2x,
                    ./img/how-it-works/girl-1x-desk.jpg 1x
                " media="(min-width: 1280px)" />
            <source srcset="
                    ./img/how-it-works/fruu-2x-tab.jpg 2x,
                    ./img/how-it-works/girl-1x-tab.jpg 1x
                " media="(min-width: 768px)" />
            <source srcset="
                    ./img/how-it-works/frau-2x-mob.jpg 2x,
                    ./img/how-it-works/frau-1x-mob.jpg 1x
                " media="(min-width: 320px)" />
            <img src="./img/how-it-works/girl-1x-desk.jpg" alt="The girl is cutting fruits." class="works-image" />
        </picture>
</div>
        </div>
        
    </div>
        <div class="backgraund-2">
        <div class="works-list">
            <h3 class="works-title">To order your <span class="works-title-dsr">vegetable</span> basket, simply follow
                these
                <span class="works-title-dsr">easy steps</span>
            </h3>
            <p class="works-p">Our baskets are assembled with care and delivered straight to your doorstep, so you can
                enjoy
                the
                taste of fresh fruit without ever leaving your home.</p>


            <ol class="steps-list">
                <li class="steps-item"><span>Just choose <span class="steps-dsr">the vegetable</span> you want to oder by clicking on the checkboxes <span class="steps-dsr">next to it.</span>
                </span></li>


                <li class="steps-item"><span>Click on <span class="steps-dsr">the basket</span> and fill out the form.
                   </span>
                </li>


                <li class="steps-item"><span>Sit back and relax! Your <span class="steps-dsr">fresh vegetables</span> basket will be delivered.
               </span> </li>






            </ol>
        </div>
    </div>
    
</div>
</section>