<div class="mob-menu js-menu-container is-open">

  <div class="mob-menu-top">
    <button type="button" class="close-menu-btn js-close-menu">
      <svg class="modal-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-menu-mobile-btn-close"></use>
      </svg>
    </button>

    <nav class="mob-menu-nav">
      <ul class="mob-nav-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link menu-link-how" href="#how-it-works">How It Works</a>
        </li>
        <li class="mob-menu-item menu-item">
          <a class="mob-menu-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="mob-menu-btn" type="button">Shop now</button>


</div>
