<section class="section-reviews">
    <div class="container">
<h2 class="header-reviews">reviews from our 
    <span class="customers">customers</span>
</h2>
  <p class="words-customers">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.
</p>
<ul class="ul-reviews">
    <li class="list-cards list-john">
        <div class="reviews-block">
        <img class="buyers-photos"
        srcset="./img/reviews-images/john_2x.jpg 2x" 
        src="./img/reviews-images/john.jpg" 
        alt="John Wax" width="56" height="56">
        <h3 class="name-buyers">John Wax</h3>
        <p class="text-reviews">
            These vegetables are my secret to delicious and healthy meals. 
            The quality is always at the highest level, the aroma and taste are enchanting.
             I advise every fan of real products!
            </p>
        </div>
    </li>
    <li class="list-cards list-viktoria">
        <div class="reviews-block">
        <img class="buyers-photos"
        srcset="./img/reviews-images/viktoria_2x.jpg 2x" 
        src="./img/reviews-images/viktoria.jpg" 
        alt="Victoria Romashenko" width="56" height="56">
        <h3 class="name-buyers">Victoria Romashenko</h3>
        <p class="text-reviews">
            I love how fast and fresh the vegetables are delivered.
             Salads always turn out so appetizing, and soups are real masterpieces.
              The quality is impeccable!
            </div>
        </p>
    </li>
    <li class="list-cards list-ihor">
        <div class="reviews-block">
        <img class="buyers-photos"
        srcset="./img/reviews-images/ihor_2x.jpg 2x" 
        src="./img/reviews-images/ihor.jpg" 
        alt="Ihor Trachuk" width="56" height="56">
        <h3 class="name-buyers">Ihor Trachuk</h3>
        <p class="text-reviews">
            Recently tried my fresh tomatoes and peppers - amazing! 
            The authenticity of the taste, as if from the garden directly to my table.
             It is now my main vegetable supplier.
        </p>
    </div>
    </li>
</ul>
    </div>
</section>