<section class="vegetables" id="vegetables">
    <div class="container vegetables-container">
        <h2 class="vegetables-title">ORGANIC<span class="vegetables-title-span"> VEGETABLES</span></h2>
        <p class="vegetabless-title-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list">
            <li class="vegetables-item">
                <div class="container-vegetables-list">
                    <h3 class="vegetables-subtitle">eggplant</h3>
                    <p class="vefetables-item-text">60 UAH/KG</p>
                </div>
                <div class="open-card">
                    <picture>
                        <source srcset="./img/photo-vegetables/eggplant-desktop1x.jpg 1x, ./img/photo-vegetables/eggplant-desktop2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="./img/photo-vegetables/eggplant-tablet1x.jpg 1x, ./img/photo-vegetables/eggplant-tablet2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="./img/photo-vegetables/eggplant-mobile1x.jpg 1x, ./img/photo-vegetables/eggplant-mobile2x.jpg 2x" media="(min-width:320px)">
                        <img src="./img/photo-vegetables/eggplant-desktop1x.jpg" alt="eggplant" width="282" height="243"/>
                    </picture>
                </div>
            </li>

            <li class="vegetables-item">
                <div class="container-vegetables-list">
                    <h3 class="vegetables-subtitle">leek</h3>
                    <p class="vefetables-item-text">50 UAH/KG</p>
                </div>
                <div class="open-card">
                    <picture>
                        <source srcset="./img/photo-vegetables/leek-desktop1x.jpg 1x, ./img/photo-vegetables/leek-desktop2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="./img/photo-vegetables/leek-tablet1x.jpg 1x, ./img/photo-vegetables/leek-tablet2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="./img/photo-vegetables/leek-mobile1x.jpg 1x, ./img/photo-vegetables/leek-mobile2x.jpg 2x" media="(min-width:320px)">
                        <img src="./img/photo-vegetables/leek-desktop1x.jpg" alt="leek" width="282" height="243"/>
                    </picture>
                </div>
            </li>

            <li class="vegetables-item">
                <div class="container-vegetables-list">
                    <h3 class="vegetables-subtitle">mushrooms</h3>
                    <p class="vefetables-item-text">40 UAH/KG</p>
                </div>
                <div class="open-card">
                    <picture>
                        <source srcset="./img/photo-vegetables/mushrooms-desktop1x.jpg 1x, ./img/photo-vegetables/mushroms-desktop2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="./img/photo-vegetables/mushrooms-tablet1x.jpg 1x, ./img/photo-vegetables/mushrooms-tablet2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="./img/photo-vegetables/mushrooms-mobile1x.jpg 1x, ./img/photo-vegetables/musgrooms-mobile2x.jpg 2x" media="(min-width:320px)">
                        <img src="./img/photo-vegetables/mushrooms-desktop1x.jpg" alt="mushrooms" width="282" height="243"/>
                    </picture>
                </div>
            </li>

            <li class="vegetables-item">
                <div class="container-vegetables-list">
                    <h3 class="vegetables-subtitle">corn</h3>
                    <p class="vefetables-item-text">60 UAH/KG</p>
                </div>
                <div class="open-card">
                    <picture>
                        <source srcset="./img/photo-vegetables/corn-desktop1x.jpg 1x, ./img/photo-vegetables/corn-desktop2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="./img/photo-vegetables/corn-tablet1x.jpg 1x, ./img/photo-vegetables/corn-tablet2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="./img/photo-vegetables/corn-mobile1x.jpg 1x, ./img/photo-vegetables/corn-mobile2x.jpg 2x" media="(min-width:320px)">
                        <img src="./img/photo-vegetables/corn-desktop1x.jpg" alt="corn" width="282" height="243"/>
                    </picture>
                </div>
            </li>

            <li class="vegetables-item">
                <div class="container-vegetables-list">
                    <h3 class="vegetables-subtitle">sweet potatoes</h3>
                    <p class="vefetables-item-text">50 UAH/KG</p>
                </div>
                <div class="open-card">
                    <picture>
                        <source srcset="./img/photo-vegetables/potatoes-desktop1x.jpg 1x, ./img/photo-vegetables/potatoes-desktop2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="./img/photo-vegetables/potatoes-tablet1x.jpg 1x, ./img/photo-vegetables/potatoes-tablet2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="./img/photo-vegetables/potatoes-mobile1x.jpg 1x, ./img/photo-vegetables/potatoes-mobile2x.jpg 2x" media="(min-width:320px)">
                        <img src="./img/photo-vegetables/potatoes-desktop1x.jpg" alt="sweetpotatoes" width="282" height="243"/>
                    </picture>
                </div>
            </li>

            <li class="vegetables-item">
                <div class="container-vegetables-list">
                    <h3 class="vegetables-subtitle">carrot</h3>
                    <p class="vefetables-item-text">40 UAH/KG</p>
                </div>
                <div class="open-card">
                    <picture>
                        <source srcset="./img/photo-vegetables/carrot-desktop1x.jpg 1x, ./img/photo-vegetables/carrot-desktop2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="./img/photo-vegetables/carrot-tablet1x.jpg 1x, ./img/photo-vegetables/carrot-tablet2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="./img/photo-vegetables/carrot-mobile1x.jpg 1x, ./img/photo-vegetables/carrot-mobile2x.jpg 2x" media="(min-width:320px)">
                        <img src="./img/photo-vegetables/carrot-desktop1x.jpg" alt="carrots" width="282" height="243"/>
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>    