.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
}

.footer-address {
  font-style: normal;
}

.footer-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 296px;
}

.footer-logo-icon {
  fill: #fbfbfb;
}

.footer-logo-icon-text {
  fill: #fbfbfb;
}

.footer-section1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-section2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}

.footer-container1-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}

.footer-item {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}

.footer-address-link {
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-address-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-container4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 80px;
}

.footer-container4-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-container4-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-container1 {
    max-width: 265px;
  }

  .footer-section1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 224px;
  }

  .footer-link {
    margin-bottom: 25px;
  }

  .footer-container1-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-section2 {
    width: 215px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
  }

  .footer-list {
    gap: 25px;
  }

  .footer-item {
    font-size: 32px;
  }

  .footer-address-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-address-text {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-container4 {
    margin-top: 100px;
  }

  .footer-container4-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-container4-text {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-logo-icon-text {
    width: 168px;
    height: 15px;
  }

  .footer-logo-icon {
    width: 18px;
    height: 18px;
  }
  .footer-address {
    gap: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-section1 {
    gap: 302px;
  }

  .footer-section2 {
    width: 513px;
    display: flex;
    flex-direction: row;
    gap: 121px;
  }

  .footer-container3 {
    width: 215px;
  }

  .footer-container4 {
    margin-top: 125px;
  }
  .footer-link:hover,
  .footer-container4-link:hover,
  .footer-address-link:hover {
    transform: scale(1.03);
  }

  .footer-item:hover {
    transform: scale(1.03);
    color: #576f35;
  }
}
