.header {
    background-color: #576F35;  
    /* position: absolute; */
    
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    
}

.logo {
    display: flex;
    gap: 4px;
    align-items: center;
     
}

.icon-logo {
    fill: #fbfbfb;}

.logo-text {
    fill: #fbfbfb;
}

.nav-list {
    display: none;
    min-width: 312px;
    
}

.menu-link {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.header-btn {
    display: none;
}

.open-menu-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
   
}

.btn-icon-open {
    fill: none;
    stroke-width: 3px;
    stroke: #fbfbfb;
}
/* ============================== */

 @media screen and (min-width: 768px){

.logo {
    gap: 8px;
    }

    .icon-logo {
        width: 18px;
        height: 18px;
    }

    .logo-text {
        width: 168px;
        height: 15px;
    }

    .btn-icon-open {
        width: 40px;
        height: 40px;
    }
 }

 /* ============================== */

 @media screen and (min-width: 1280px) {
    .header-container {
            min-width: 1080px;
        }
        .logo{
            margin-right: 370px;
            margin-left: 0 auto;
        }

    .nav-list{
   display: flex;
   gap: 8px;
   align-items: center;
   
    }
.nav-list{
    min-width: 312px;
    height: 44px;
}

.menu-link {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    display: block;
}
    
.header-btn {
        border-radius: 30px;
        width: 157px;
        height: 52px;
        background-color: #7a3145;
        font-weight: 600;
        border: none;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        display: block;
        margin-right: 0;
}

.header-btn:hover,
.header-btn:focus {
    background-color: #622133;
}
 .open-menu-btn{
     display: none;
}
 }





