
.container{
    padding: 0;
}
.section-works {
    
    padding: 40px 20px;
        width: 100%;
        max-width: 375px;
        background-color: #7a3145;
        margin: 0 auto;
}


.works-image {
border-radius: 30px;
    width: 100%;
    max-width: 335px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}




.works-list {
padding: 80px 20px;
    width: 100%;
    max-width: 375px;
    background-color: #576f35;
    margin: 0 auto;
}




.steps-list {
    list-style: none;
        display: flex;
        flex-direction: column;
        counter-reset: count 0;

}


.steps-list li::before {
counter-increment: custom-counter;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgba(122, 49, 69, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #7a3145;
    color: #fbfbfb;
    content: counter(custom-counter, decimal);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.0;
    letter-spacing: -0.02em;
}




.works-p {
font-size: 14px;
    line-height: 1.29;
    margin-bottom: 40px;
    color: #fbfbfb;
}


.works-title {
font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}


.works-title-dsr {
    color: rgba(251, 251, 251, 0.3);
}


.steps-item-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
    padding-left: 74px;


}


.steps-item {
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background-color: #fbfbfb;


}


.steps-dsr {
    font-weight: 700;
    color: #141414;
}


.steps-list li {
margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    width: 100%;
    max-width: 335px;
    height: 76px;
    counter-increment: count 1;
    margin-left: auto;
    margin-right: auto;
}


 @media screen and (min-width: 768px) {
  

    .section-works {
       
        padding: 100px 64px;
        max-width: 768px;

    }


    .works-image {
    width: 640px;
        height: 640px;
    }


    .works-list {
        padding: 100px 159px;
        max-width: 768px;
    }




    .works-title {
      font-size: 32px;
    }


    .works-p {
        
        font-size: 16px;
        


    }




   




    .steps-list li::before {
    stroke-width: 5px;
        stroke: rgba(122, 49, 69, 0.3);



    }

         .steps-list li{
        stroke-width: 5px;
            stroke: rgba(122, 49, 69, 0.3);
                max-width: 450px;
         }


    .steps-item-title {
       
        font-size: 16px;
       
        padding-left: 66px;
    }
}


@media screen and (min-width: 1280px) {
    .container {
        display: flex;
    }

    .section-works {

        width: 630px;
        height: 759px;

    }

    .works-image {
        
        width: 430px;
        height: 559px;
    }

    .works-list {
        width: 650px;
        height: 759px;
        padding: 100px;

    }

    .works-title {
        
        font-size: 32px;
      
        margin-bottom: 25px;
    }


    .works-p {
        margin-bottom: 50px;
    }

       

    .steps-list li::before {
        
        stroke-width: 5px;
        stroke: rgba(122, 49, 69, 0.3);






    }
.steps-list li{
    
        padding: 12px 25px 12px 24px;
        width: 450px;
        
}

    .steps-item {
      
        padding: 12px 25px 12px 24px;
        width: 450px;
        
    }
}