.section-reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #fbfbfb;
}

.header-reviews {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}

.customers {
  color: #576f35;
}

.words-customers {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #141414;
  margin-bottom: 40px;
}

.list-cards {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px 16px;
  height: 238px;
  background: #fbfbfb;
}

.buyers-photos {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.name-buyers {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  text-align: center;
  margin-bottom: 8px;
}

.text-reviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  /* margin-left: 7px;
    margin-right: 7px; */
}

.list-viktoria {
  display: none;
}

.list-ihor {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .list-viktoria {
    display: block;
  }

  .ul-reviews {
    display: flex;
    gap: 18px;
  }

  .name-buyers {
    font-size: 18px;
    line-height: 1.1;
  }

  .header-reviews {
    font-size: 64px;
    line-height: 1;
    width: 553px;
    margin-bottom: 25px;
  }

  .words-customers {
    font-size: 16px;
    line-height: 1.25;
    width: 553px;
    margin-bottom: 50px;
  }

  .list-cards {
    width: calc((100% - 18px) / 2);
    height: 258px;
    padding: 20px 20px;
  }

  .text-reviews {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 1280px) {
  .list-ihor {
    display: block;
  }
  .list-cards {
    width: calc((100% - 25px * 2) / 3);
  }

  .ul-reviews {
    gap: 25px;
    max-width: 1079px;
  }
}
