/*=====================YOUR ODRER==========================*/
.your-order-picture {
  border-radius: 15px;
  background-color: rgba(20, 20, 20, 0.3);

  border-radius: 15px;
  margin-bottom: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.your-order-section {
  background: #7a3145;
  padding-top: 100px;
  padding-bottom: 100px;
}
.two-blocks {
  display: flex;
  flex-direction: column;
}
.title-paragraph {
  margin-bottom: 40px;
}
.your-order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 29px;
}
.span-harvest {
  color: rgba(251, 251, 251, 0.3);
}
.your-order-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

/* Блок-форма, та що зліва */

.left-form-block {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #fbfbfb;
}

.contact-form-descr {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.span-from-us {
  color: #7a3145;
}
.span-the-form {
  color: #576f35;
}
.form-input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 16px;
  margin-bottom: 15px;
  outline: transparent;
  resize: none;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.form-input::placeholder {
  color: #141414;
}
/* стилізація інпута в стані фокус */
.form-input:focus {
  border-color: #7a3145;
}

/* стилізація інпута при не валідному значенні */
.form-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

/* стилізація інпута при валідному значенні */
.form-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.form-input-comment {
  border-radius: 15px;
  width: 100%;
  height: 91px;
  margin-bottom: 25px;
}

.contact-form-submit-btn {
  border-radius: 30px;
  padding: 16px 0;
  width: 100%;
  height: 50px;
  background: #576f35;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

/* Блок із картинкою і посиланнями, що справа */
.right-block {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #576f35;
}
.two-blocks {
  display: flex;
  gap: 24px;
}
.image-right-block {
  border-radius: 15px;
  margin-bottom: 20px;
}
.paragraph-links {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}
.social-links-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.social-link {
  font-size: 24px;
  line-height: 1, 08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

/*++++++++++++++++++++++++MEDIA DESKTOP+++++++++++++++++++++*/

@media screen and (min-width: 1280) {
  .title-paragraph {
    width: 751px;
    margin-bottom: 50px;
  }
  .your-order-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .your-order-paragraph {
    font-size: 16px;
    line-height: 1.25;
  }

  /* Блок-форма, та що зліва */

  .left-form-block {
    padding: 50px;
    width: 529px;
    height: 534px;
    background-color: #fbfbfb;
  }

  .contact-form-descr {
    margin-bottom: 50px;
  }

  .form-input {
    padding: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
  .form-input::placeholder {
    color: #141414;
  }

  .form-input-comment {
    height: 95px;
  }

  .contact-form-submit-btn {
    border-radius: 30px;
    padding: 16px 191px;
    width: 100%;
    height: 52px;
    background: #576f35;
    border: none;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }

  /* Блок із картинкою і посиланнями, що справа */
  .right-block {
    padding: 50px;
    width: 527px;
    height: 534px;
  }
  .image-right-block {
    border-radius: 15px;
    margin-bottom: 50px;
  }
  .paragraph-links {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }
  .social-links-list {
    gap: 12px;
    max-width: 357px;
  }
  .social-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
  .span-heshtag {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
}
