/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7a3145;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  /* opacity: 0;
    pointer-events: none;
    visibility: hidden; */
  transform: translateX(100%);
  transition: transform 500ms ease;
}
/* .button:active .mob-menu {
  transform: translateX(-100%);
}
.header:hover .mob-menu {
  transform: translateX(0);
}
.link:hover .mob-menu {
  transform: translateX(0); 
}*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.header {
  background-color: aqua;
}
.mob-menu-top {
  display: flex;
  flex-direction: column;
}
.main {
  position: relative;
  overflow: hidden;
}
.mob-menu-nav {
  align-self: center;
}

.close-menu-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-bottom: 188px;
  padding: 0;
}

.modal-icon {
  fill: none;
  stroke-width: 3px;
  stroke: #fbfbfb;
}

.mobile-menu {
  margin-bottom: 50px;
}
.mob-menu-item {
  width: 115px;
  height: 42px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.mob-menu-item:not(:first-child) {
  background-color: transparent;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 8px;
}

.mob-menu-link {
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.menu-link-how {
  color: #7a3145;
}

.mob-menu-btn {
  border-radius: 30px;
  padding: 16px 41px;
  width: 155px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border: none;
  display: block;
  margin: 0 auto;
}

.mob-menu-btn:hover,
.mob-menu-btn:hover {
  color: rgba(122, 49, 69, 0.7);
}

/* =============================== */

@media screen and (min-width: 768px) {
  .mob-menu {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 50px;
    width: 351px;
    /* height: 1024px; */
    margin-right: 0;
    position: absolute;
    right: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
li {
  list-style-type: none;
}
.section {
  background: #576f35;
}
.list {
  counter-reset: list;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.count {
  border-radius: 15px;
  padding: 12px 25px 12px 24px;
  background: #fbfbfb;
  width: 100%;
  height: auto;
  min-height: 76px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  display: flex;
  gap: 24px;
  align-items: center;
}
.count:before {
  counter-increment: list;
  content: counter(list) '';
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 100%;
  background: #7a3145;
  border: 5px solid rgba(122, 115, 49, 0.3);
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.hero {
}
.hero-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.hero-wrap {
  padding: 100px 20px 40px;
  background: #576f35;
}
.hero-title {
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}
.hero-image-wrap {
  width: 100%;
  height: auto;
  background-image: rgba(20, 20, 20, 0.2);
}
@media (min-width: 768px) {
  .hero-wrap {
    padding: 122px 32px 50px;
  }
  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }
  .hero-text {
    font-size: 16px;
    width: 603px;
  }
}
@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
  .hero-wrap {
    padding: 238px 28px 50px 100px;
  }
  .hero-title {
    width: 502px;
    margin-bottom: 128px;
  }
  .hero-text {
    width: 472px;
  }
}
/*=====================YOUR ODRER==========================*/

.your-order-section {
  background: #7a3145;
  padding-top: 100px;
  padding-bottom: 100px;
}
.two-blocks {
  display: flex;
  flex-direction: column;
}
.title-paragraph {
  margin-bottom: 40px;
}
.your-order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 29px;
}
.span-harvest {
  color: rgba(251, 251, 251, 0.3);
}
.your-order-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

/* Блок-форма, та що зліва */

.left-form-block {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #fbfbfb;
}

.contact-form-descr {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.span-from-us {
  color: #7a3145;
}
.span-the-form {
  color: #576f35;
}
.form-input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 16px;
  margin-bottom: 15px;
  outline: transparent;
  resize: none;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.form-input::placeholder {
  color: #141414;
}
/* стилізація інпута в стані фокус */
.form-input:focus {
  border-color: #7a3145;
}

/* стилізація інпута при не валідному значенні */
.form-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

/* стилізація інпута при валідному значенні */
.form-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.form-input-comment {
  border-radius: 15px;
  width: 100%;
  height: 91px;
  margin-bottom: 25px;
}

.contact-form-submit-btn {
  border-radius: 30px;
  padding: 16px 0;
  width: 100%;
  height: 50px;
  background: #576f35;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

/* Блок із картинкою і посиланнями, що справа */
.right-block {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #576f35;
}
.two-blocks {
  display: flex;
  gap: 24px;
}
.image-right-block {
  border-radius: 15px;
  margin-bottom: 20px;
}
.paragraph-links {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}
.social-links-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.social-link {
  font-size: 24px;
  line-height: 1, 08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

/*++++++++++++++++++++++++MEDIA DESKTOP+++++++++++++++++++++*/

@media screen (min-width: 1280) {
  .title-paragraph {
    width: 751px;
    margin-bottom: 50px;
  }
  .your-order-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .your-order-paragraph {
    font-size: 16px;
    line-height: 1.25;
  }

  /* Блок-форма, та що зліва */

  .left-form-block {
    padding: 50px;
    width: 529px;
    height: 534px;
    background-color: #fbfbfb;
  }

  .contact-form-descr {
    margin-bottom: 50px;
  }

  .form-input {
    padding: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
  .form-input::placeholder {
    color: #141414;
  }

  .form-input-comment {
    height: 95px;
  }

  .contact-form-submit-btn {
    border-radius: 30px;
    padding: 16px 191px;
    width: 100%;
    height: 52px;
    background: #576f35;
    border: none;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }

  /* Блок із картинкою і посиланнями, що справа */
  .right-block {
    padding: 50px;
    width: 527px;
    height: 534px;
  }
  .image-right-block {
    border-radius: 15px;
    margin-bottom: 50px;
  }
  .paragraph-links {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }
  .social-links-list {
    gap: 12px;
    max-width: 357px;
  }
  .social-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
  .span-heshtag {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
}
